/* Footer.css */
.footer {
  background-color: #111;
  color: #ccc;
  text-align: center;
  border-top: 1px solid #222;
}

.footer-icon {
  color: #ffc107;
  margin: 0 12px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: #fff;
}
